#divb{
    background-image: url(image/game.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    position: relative;
    background-size: cover;
    overflow: hidden;
}
#head{
    display: flex;
    width: 85%;
    height: 15%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
#head h1{
    font-size: 48px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    letter-spacing: 1px;
    color: rgb(240, 14, 127);
}
#head button{
    background-color: rgba(107, 252, 252, 0.774);
    padding: 8px 10px 8px 10px;
    border: 4px solid rgba(12, 12, 12, 0.815);
    cursor: pointer;
}
#head button a{
    text-decoration: none;
    font-weight: 600;
    font-size: large;
    font-style: italic;
    color: rgb(0, 38, 253);
}
#menu{
    width: 100%;
    height: 20px;
    margin-left:15px;
}
#menu .enter{
    position: relative;
    margin-bottom: 100px;
}
#menu .enter a{
    text-decoration: none;
    color: rgb(252, 250, 249);
    font-size: 20px;
}
#para1{
    display: flex;
    margin-top: 10%;
    width: 100%;
    height: 10%;
    align-items: left;
    justify-content: left;
}
#para1 h2{
    margin-left: 130px;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: rgba(255, 0, 212, 0.815);
}
#para2{
    display: flex;
    width: 100%;
    height: 40%;
    align-items: left;
    justify-content: left;
}
#para2 p{
    margin-left: 130px;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: rgba(2, 252, 98, 0.959);
}
#para2 button{
    margin-top: 140px;
    margin-left:-480px;
    width: 80px;
    height: 30px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 255, 255, 0.664);
    border: 2px solid black;
}
#para2 button a{
    text-decoration: none;
    font-size: large;
    font-weight: 600;
    font-style: italic;
    color: rgba(0, 4, 255, 0.89);
}